BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
B {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 1.2; FONT-FAMILY: ËÎÌו,Arial,Verdana,Sans-Serif; BACKGROUND: #ecf4fd; FONT-SIZE: 12px
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #6595d6; TEXT-DECORATION: none
}
PRE {
	WORD-WRAP: break-word
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
INPUT {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
SELECT {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
TEXTAREA {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
INPUT {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: middle; PADDING-TOP: 3px
}
TABLE {
	BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed
}
TD {
	WORD-WRAP: break-word; OVERFLOW: hidden
}
SAMP {
	BACKGROUND-IMAGE: url(../img/ico.gif); OUTLINE-STYLE: none; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; VERTICAL-ALIGN: middle
}
.input-text {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
SELECT {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
TEXTAREA {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.input-text {
	
}
.input-text:focus {
	BORDER-BOTTOM: #fc7e00 1px solid; BORDER-LEFT: #fc7e00 1px solid; BORDER-TOP: #fc7e00 1px solid; BORDER-RIGHT: #fc7e00 1px solid
}
TEXTAREA:focus {
	BORDER-BOTTOM: #fc7e00 1px solid; BORDER-LEFT: #fc7e00 1px solid; BORDER-TOP: #fc7e00 1px solid; BORDER-RIGHT: #fc7e00 1px solid
}
.ie-input-focus {
	BORDER-BOTTOM: #fc7e00 1px solid; BORDER-LEFT: #fc7e00 1px solid; BORDER-TOP: #fc7e00 1px solid; BORDER-RIGHT: #fc7e00 1px solid
}
.submit {
	BORDER-BOTTOM: #77a2d2 1px solid; BORDER-LEFT: #77a2d2 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #ecf4fd; COLOR: #4c6785; FONT-SIZE: 12px; OVERFLOW: visible; BORDER-TOP: #77a2d2 1px solid; CURSOR: pointer; BORDER-RIGHT: #77a2d2 1px solid; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px
}
.submit:hover {
	BORDER-BOTTOM-COLOR: #fc7e00; BORDER-TOP-COLOR: #fc7e00; BORDER-RIGHT-COLOR: #fc7e00; BORDER-LEFT-COLOR: #fc7e00
}
.button {
	BORDER-BOTTOM: #598ede 1px solid; BORDER-LEFT: #598ede 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #598ede; COLOR: #fff; FONT-SIZE: 12px; OVERFLOW: visible; BORDER-TOP: #598ede 1px solid; CURSOR: pointer; BORDER-RIGHT: #598ede 1px solid; PADDING-TOP: 3px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px
}
.corner {
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px
}
.tab-normal {
	BORDER-BOTTOM: #eee 3px double; BORDER-LEFT: #eee 3px double; BACKGROUND: #eee; COLOR: #06f; BORDER-TOP: #eee 3px double; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #eee 3px double
}
.tab-normal:hover {
	BORDER-BOTTOM-COLOR: #598ede; BORDER-TOP-COLOR: #598ede; BACKGROUND: #598ede; COLOR: #fff; BORDER-RIGHT-COLOR: #598ede; BORDER-LEFT-COLOR: #598ede
}
.tab-down {
	BORDER-BOTTOM-COLOR: #598ede; BORDER-TOP-COLOR: #598ede; BACKGROUND: #598ede; COLOR: #fff; BORDER-RIGHT-COLOR: #598ede; BORDER-LEFT-COLOR: #598ede; CURSOR: auto
}
.pagination {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 2px
}
.pagination I {
	PADDING-RIGHT: 1px
}
.pagination LI {
	MARGIN: 0px 3px; ZOOM: 1; DISPLAY: inline
}
.page-pre {
	HEIGHT: 16px
}
.page-suf {
	HEIGHT: 16px
}
.page-main LI {
	MARGIN: 0px 1px
}
.page-main A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; ZOOM: 1; TEXT-DECORATION: none; PADDING-TOP: 1px
}
.page-main A:hover {
	TEXT-DECORATION: none
}
.page-normal A {
	BORDER-BOTTOM: #eee 3px double; BORDER-LEFT: #eee 3px double; BACKGROUND: #eee; COLOR: #06f; BORDER-TOP: #eee 3px double; BORDER-RIGHT: #eee 3px double
}
.page-normal A:hover {
	BORDER-BOTTOM-COLOR: #598ede; BORDER-TOP-COLOR: #598ede; BACKGROUND: #598ede; COLOR: #fff; BORDER-RIGHT-COLOR: #598ede; BORDER-LEFT-COLOR: #598ede
}
.page-select A {
	BORDER-BOTTOM: #598ede 3px double; BORDER-LEFT: #598ede 3px double; BACKGROUND: #598ede; COLOR: #fff; BORDER-TOP: #598ede 3px double; BORDER-RIGHT: #598ede 3px double
}
.page-select A:hover {
	CURSOR: default
}
.page-main .page-omit {
	MARGIN: 0px
}
#header {
	MARGIN: auto; BACKGROUND: url(../img/bg.gif) #ecf4fd repeat-x 0px -38px; HEIGHT: 104px; CLEAR: both; OVERFLOW: hidden
}
#header UL LI A {
	
}
#right-menu {
	FLOAT: right
}
#right-menu UL {
	MARGIN-TOP: 10px; MARGIN-RIGHT: 10px
}
#right-menu UL LI {
	MARGIN-BOTTOM: 5px
}
#right-menu UL A {
	COLOR: #666; TEXT-DECORATION: underline
}
#right-menu UL A:hover {
	COLOR: #06c
}
#logo {
	MARGIN: 15px 0px 0px 20px
}
#logo IMG {
	Z-INDEX: 1; POSITION: relative
}
#header #ban_ner {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: -85px auto auto; PADDING-LEFT: 80px; WIDTH: 660px; PADDING-RIGHT: 7px; BACKGROUND: url(../img/bg_ban_ner.png) no-repeat right top; HEIGHT: 90px; PADDING-TOP: 4px
}
#menu {
	MARGIN-TOP: 2px; WIDTH: 156px; FLOAT: left; MARGIN-LEFT: 6px; _margin-left: 3px
}
.u-login {
	BORDER-BOTTOM: #c3d9ff 1px solid; BORDER-LEFT: #c3d9ff 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #c3d9ff 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #c3d9ff 1px solid; PADDING-TOP: 8px
}
.u-login-info {
	BORDER-BOTTOM: #c3d9ff 1px solid; BORDER-LEFT: #c3d9ff 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #c3d9ff 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #c3d9ff 1px solid; PADDING-TOP: 8px
}
.u-login DIV {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.u-login .input {
	WIDTH: 94px; HEIGHT: 14px
}
.u-login SPAN {
	TEXT-ALIGN: right; WIDTH: 36px; PADDING-RIGHT: 4px; DISPLAY: inline-block
}
.u-login .l-check {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 17px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.u-login .l-check INPUT {
	MARGIN-TOP: -2px
}
.u-login .l-check LABEL {
	PADDING-LEFT: 8px; CURSOR: pointer
}
.u-login .b-op .submit {
	MARGIN: 0px -2px 0px 11px; WIDTH: 60px
}
.u-login-info DIV {
	PADDING-LEFT: 8px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.u-login-info DIV SAMP {
	WIDTH: 12px; HEIGHT: 16px; MARGIN-RIGHT: 6px
}
.u-login-info DIV A {
	PADDING-LEFT: 1px; COLOR: #598ede; FONT-WEIGHT: normal
}
.u-login-info UL {
	LINE-HEIGHT: 18px; MARGIN-TOP: 4px; MARGIN-LEFT: 28px; _margin-left: 27px
}
.u-login-info UL SPAN {
	COLOR: #f00
}
#left-line {
	
}
#left-line SAMP {
	Z-INDEX: 2; POSITION: relative; WIDTH: 14px; FLOAT: right; HEIGHT: 15px; TOP: -7px; CURSOR: pointer; RIGHT: 0px
}
#xlist {
	BORDER-BOTTOM: #c3d9ff 1px solid; BORDER-LEFT: #c3d9ff 1px solid; PADDING-BOTTOM: 10px; MARGIN-TOP: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #c3d9ff 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #c3d9ff 1px solid; PADDING-TOP: 13px
}
#xlist LI UL {
	MARGIN-TOP: 3px
}
.x-folder {
	BORDER-BOTTOM: #c9d7f1 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 3px; DISPLAY: block; FONT-SIZE: 13px; VERTICAL-ALIGN: middle
}
.x-leaf {
	BORDER-BOTTOM: #c9d7f1 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 3px; DISPLAY: block; FONT-SIZE: 13px; VERTICAL-ALIGN: middle
}
.x-folder:hover {
	BACKGROUND-COLOR: #598ede; CURSOR: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px
}
.x-leaf:hover {
	BACKGROUND-COLOR: #598ede; CURSOR: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px
}
.x-folder:hover A {
	COLOR: #fff
}
.x-leaf:hover A {
	COLOR: #fff
}
.toggler {
	BACKGROUND-IMAGE: url(../img/ico.gif); MARGIN-TOP: 8px; WIDTH: 12px; FLOAT: left; HEIGHT: 12px; VERTICAL-ALIGN: middle; CURSOR: pointer; MARGIN-RIGHT: 6px
}
.x-child .toggler {
	MARGIN-TOP: 0px
}
.folder-open > SPAN > .toggler {
	BACKGROUND-POSITION: -160px -6px
}
.folder-open-last > SPAN > .toggler {
	BACKGROUND-POSITION: -160px -6px
}
.folder-close > SPAN > .toggler {
	BACKGROUND-POSITION: -172px -6px
}
.folder-close-last > SPAN > .toggler {
	BACKGROUND-POSITION: -172px -6px
}
.leaf > SPAN > .toggler {
	WIDTH: 8px; BACKGROUND-POSITION: -375px -7px
}
.leaf-last > SPAN > .toggler {
	WIDTH: 8px; BACKGROUND-POSITION: -375px -7px
}
.folder-open .toggler {
	_background-position: -160px -6px
}
.folder-open-last .toggler {
	_background-position: -160px -6px
}
.folder-close .toggler {
	_background-position: -172px -6px
}
.folder-close-last .toggler {
	_background-position: -172px -6px
}
.leaf .toggler {
	_background-position: -375px -7px; _width: 8px
}
.leaf-last .toggler {
	_background-position: -375px -7px; _width: 8px
}
.x-leaf .toggler {
	BACKGROUND-POSITION: -184px -6px
}
.x-child {
	DISPLAY: none
}
.x-child LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 8px; PADDING-RIGHT: 1px; PADDING-TOP: 2px
}
.x-child LI > SPAN {
	DISPLAY: inline-block; HEIGHT: 1.2em; OVERFLOW: hidden
}
.x-child A {
	FONT-WEIGHT: bold
}
.x-child .leaf A {
	FONT-WEIGHT: normal
}
.x-child .leaf-last A {
	FONT-WEIGHT: normal
}
.leaf-last SAMP {
	WIDTH: 8px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 5px
}
.leaf SAMP {
	WIDTH: 8px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 5px
}
.x-search {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.x-search INPUT {
	WIDTH: 100px; HEIGHT: 14px; COLOR: #999; FONT-SIZE: 13px
}
#adv {
	TEXT-ALIGN: center; MARGIN-TOP: 8px
}
#radio {
	TEXT-ALIGN: center; MARGIN-TOP: 8px
}
#adv IMG {
	MARGIN: auto auto 8px
}
#main_wrap {
	MARGIN: 2px 5px 0px 162px
}
#main {
	BORDER-BOTTOM: #c3d9ff 0px solid; BORDER-LEFT: #c3d9ff 1px solid; PADDING-BOTTOM: 7px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #c3d9ff 0px solid; BORDER-RIGHT: #c3d9ff 1px solid; PADDING-TOP: 7px
}
#notice {
	BORDER-BOTTOM: #d9e7ff 1px solid; BORDER-LEFT: #d9e7ff 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 14px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND: #f2f6f9; BORDER-TOP: #d9e7ff 1px solid; BORDER-RIGHT: #d9e7ff 1px solid; PADDING-TOP: 4px
}
#nav {
	DISPLAY: inline-block
}
#time {
	PADDING-RIGHT: 8px; FLOAT: right; FONT-SIZE: 11px
}
#body {
	WIDTH: 99.8%; OVERFLOW: hidden
}
.b-head {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #598ede; COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 0px; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0
}
.b-head .n-left {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 5px
}
.b-head .n-right {
	MARGIN-TOP: 4px; FLOAT: right; FONT-SIZE: 12px
}
.b-content {
	BORDER-BOTTOM: #d9e7ff 1px solid; BORDER-LEFT: #d9e7ff 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #d9e7ff 0px; BORDER-RIGHT: #d9e7ff 1px solid; PADDING-TOP: 10px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; -khtml-border-radius: 0 0 5px 5px
}
.mbar {
	BACKGROUND-COLOR: #598ede; MARGIN-TOP: 3px; COLOR: #fff; OVERFLOW: hidden; PADDING-TOP: 5px; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0; _zoom: 1
}
.mbar LI {
	FLOAT: left; MARGIN-LEFT: 12px; _margin-left: 8px
}
.mbar A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: block; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.mbar A:hover {
	BACKGROUND-COLOR: #fff; COLOR: #598ede; TEXT-DECORATION: none; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0
}
.mbar .selected A {
	BACKGROUND: #fff; COLOR: #598ede; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0
}
.c-mbar {
	BORDER-LEFT: #d9e7ff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; CLEAR: both; OVERFLOW: hidden; BORDER-RIGHT: #d9e7ff 1px solid; PADDING-TOP: 5px; _height: 25px
}
.c-mbar LI {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 8px
}
.c-mbar LI A {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; COLOR: #598ede; FONT-SIZE: 13px; PADDING-TOP: 4px
}
.c-mbar LI .select {
	BACKGROUND: #598ede; COLOR: #ffffff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -khtml-border-radius: 4px
}
.c-mbar LI A:hover {
	BACKGROUND: #598ede; COLOR: #ffffff; TEXT-DECORATION: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -khtml-border-radius: 4px
}
.c-mbar LI A SAMP {
	WIDTH: 8px; FLOAT: left; HEIGHT: 12px; MARGIN-RIGHT: 3px
}
.m-table {
	WIDTH: 100%
}
.m-table TH {
	BORDER-BOTTOM: #c9d7f1 1px solid; HEIGHT: 26px
}
.m-table TD {
	BORDER-BOTTOM: #c9d7f1 1px solid; HEIGHT: 26px
}
.m-table TH {
	BACKGROUND-COLOR: #f5f8fb
}
.mouseover {
	BACKGROUND-COLOR: #f5f8fb
}
#footer {
	TEXT-ALIGN: left; MARGIN: 20px 15px 0px 10px; CLEAR: both
}
#footer .footer_message {
	MARGIN: 10px auto; PADDING-LEFT: 60px; WIDTH: 550px; COLOR: #666666; FONT-SIZE: 11px
}
#footer .footer_message IMG {
	PADDING-RIGHT: 15px; FLOAT: left; MARGIN-RIGHT: 15px; BORDER-RIGHT: #999999 1px solid
}
#footer .footer_message A {
	COLOR: #0066cc
}
#footer .footer_message SPAN {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
#footer .footer_message .c-total {
	COLOR: red
}
#footer .footer_message .c-user {
	COLOR: blue
}
#footer .footer_message .c-guest {
	COLOR: black
}
.ico-pos-article-normal {
	BACKGROUND-POSITION: -16px -21px
}
.ico-pos-article-light {
	BACKGROUND-POSITION: 0px -21px
}
.ico-pos-article-g {
	BACKGROUND-POSITION: -64px -21px
}
.ico-pos-article-m {
	BACKGROUND-POSITION: -48px -21px
}
.ico-pos-article-top {
	BACKGROUND-POSITION: -80px -21px
}
.ico-pos-article-lock {
	BACKGROUND-POSITION: -32px -21px
}
.ico-pos-article-dir {
	BACKGROUND-POSITION: -96px -21px
}
.ico-pos-w-collapse-on {
	BACKGROUND-POSITION: -52px -1px
}
.ico-pos-w-collapse-off {
	BACKGROUND-POSITION: -38px -1px
}
.ico-pos-w-rss {
	BACKGROUND-POSITION: -361px -3px
}
.ico-pos-w-update {
	BACKGROUND-POSITION: -121px -1px
}
.ico-pos-w-edit-on {
	BACKGROUND-POSITION: 0px -1px
}
.ico-pos-w-edit-off {
	BACKGROUND-POSITION: -66px -1px
}
.ico-pos-w-remove {
	BACKGROUND-POSITION: -24px -1px
}
.ico-pos-online-hide {
	BACKGROUND-POSITION: -428px 0px
}
.ico-pos-offline-hide {
	BACKGROUND-POSITION: -413px 0px
}
.ico-pos-online-man {
	BACKGROUND-POSITION: -383px 0px
}
.ico-pos-offline-man {
	BACKGROUND-POSITION: -398px 0px
}
.ico-pos-online-woman {
	BACKGROUND-POSITION: -443px 0px
}
.ico-pos-offline-woman {
	BACKGROUND-POSITION: -458px 0px
}
.ico-pos-tag-on {
	BACKGROUND-POSITION: -160px -5px
}
.ico-pos-tag-off {
	BACKGROUND-POSITION: -172px -5px
}
.ico-pos-cdot {
	BACKGROUND-POSITION: -184px -5px
}
.ico-pos-dot {
	BACKGROUND-POSITION: -375px -7px
}
.ico-pos-reply {
	BACKGROUND-POSITION: -222px -7px
}
.ico-pos-mess {
	BACKGROUND-POSITION: -196px -8px
}
.ico-pos-smile {
	BACKGROUND-POSITION: -246px -5px
}
.ico-pos-rss-blue {
	BACKGROUND-POSITION: -347px -5px
}
.ico-pos-edit {
	BACKGROUND-POSITION: -232px -3px
}
.ico-pos-del {
	BACKGROUND-POSITION: -305px -3px
}
.ico-pos-hide {
	BACKGROUND-POSITION: -112px -21px
}
.ico-pos-show {
	BACKGROUND-POSITION: -126px -21px
}
.ico-pos-star {
	BACKGROUND-POSITION: -208px -4px
}
.rc-head {
	DISPLAY: block; BACKGROUND: #fff
}
.rc-bottom {
	DISPLAY: block; BACKGROUND: #fff
}
.rc1 {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; LINE-HEIGHT: 1px; DISPLAY: block; HEIGHT: 1px; OVERFLOW: hidden; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.rc2 {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; LINE-HEIGHT: 1px; DISPLAY: block; HEIGHT: 1px; OVERFLOW: hidden; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.rc3 {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; LINE-HEIGHT: 1px; DISPLAY: block; HEIGHT: 1px; OVERFLOW: hidden; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.rc1 {
	MARGIN: 0px 4px
}
.rc2 {
	BORDER-BOTTOM-COLOR: #bdcad8; BORDER-RIGHT-WIDTH: 2px; BORDER-TOP-COLOR: #bdcad8; MARGIN: 0px 2px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-COLOR: #bdcad8; BORDER-LEFT-COLOR: #bdcad8; BORDER-LEFT-WIDTH: 2px
}
.rc3 {
	BORDER-BOTTOM-COLOR: #bdcad8; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #bdcad8; MARGIN: 0px 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 2px; BORDER-RIGHT-COLOR: #bdcad8; BORDER-LEFT-COLOR: #bdcad8; BORDER-LEFT-WIDTH: 1px
}
.rc-head .rc1 {
	BACKGROUND-COLOR: #bdcad8
}
.rc-bottom .rc1 {
	BACKGROUND-COLOR: #bdcad8
}
.rc-head B {
	BACKGROUND-COLOR: #fff
}
.rc-bottom B {
	BACKGROUND-COLOR: #fff
}
.bg-even {
	
}
.bg-odd {
	BACKGROUND-COLOR: #f2f6f9
}
.bg-col {
	BACKGROUND-COLOR: #e4e8ef
}
.c63f {
	COLOR: #609
}
.c09f {
	COLOR: #09f
}
